body {
    background-color: bisque !important;
}

.box26 {
    position: relative;
    margin: 10px;
    padding: 20px;
    border: solid 3px rgb(80, 80, 247);
    border-radius: 8px;
}

.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 22px;
    background: bisque;
    color: rgb(80, 80, 247);
    font-weight: bold;
}

.box26 p {
    margin: 0;
    padding: 0;
}