body {
    background-color: bisque !important;
}

.first_ans {
    color: rgb(122, 105, 7);
    font-size: 40px;
    font-weight: bold;
}

.second_ans {
    color: rgb(153, 151, 151);
    font-size: 35px;
    font-weight: bold;
}

.third_ans {
    color: rgb(124, 37, 37);
    font-size: 30px;
    font-weight: bold;
}

.balloon4 {
    position: relative;
    margin: 2em 0 2em 700px;
    padding: 20px;
    background: lightsteelblue;
    border-radius: 30px;
    width: 300px;
}

.balloon4:before {
    content: "";
    position: absolute;
    left: -38px;
    width: 13px;
    height: 12px;
    bottom: 0;
    background: lightsteelblue;
    border-radius: 50%;
}

.balloon4:after {
    content: "";
    position: absolute;
    left: -24px;
    width: 20px;
    height: 18px;
    bottom: 3px;
    background: lightsteelblue;
    border-radius: 50%;
}

.balloon4 p {
    margin: 0;
    padding: 0;
}