<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>探してme🔎</title>
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/welcome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand " href="/">探してme🔎</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/word2vec">Word2Vec</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/doc2vec">Doc2Vec</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                アカウント
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/sign_in">ログイン</a>
                                <a class="dropdown-item" href="/sign_up">新規登録</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/inquire" target="_blank">お問い合わせ</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section class="py-5" id="header">
        <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/hero-header.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->
        <div class="bg-holder d-md-none" style="background-image:url(assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->
        <div class="container container-body">
            <div class="row align-items-center min-vh-75 min-vh-lg-100">
                <div class="col-md-7 col-lg-6 col-xxl-5 py-6 text-sm-start text-center">
                    <p class="mt-6 mb-sm-4 fw-semi-bold box22">
                        数学で求める自分探し
                    </p>
                    <div class="l-text-center" style="text-align: center;">
                        <a href="/select_sign_in" rel="noopener noreferrer" style="position: relative; display: inline-block; background: #59a136; border-radius: 20px; box-shadow: 0 3px 5px rgba(0,0,0,.5); font-size: 25px; font-weight: bold; color: #ffffff; text-decoration: none; padding: 0.7em 1.5em 0.7em 1em; margin-top: 30px;">
                            <span class="i-amphtml-hidden-by-media-query">さっそく始める　▶️
                            </span><img src="https://nk-media.org/wp-content/uploads/2021/02/button52-3.png" style="display: none;" width="250" height="65" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <footer class="footer bg-info myfooter">
        ©︎ copyright 2021 Sho Yoshikawa.
    </footer>
</body>

</html>